.logoDesign {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 200px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 40px;
  }
  
  .uploaded-row{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
    width: 500px;
  }
  
  .upload-content{
    display: flex;
    align-items: center;
  }